{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment-box.css' %}">
    <script src="https://webapi.amap.com/loader.js"></script>
</head>

<body>
    <h1>烂尾楼汇总</h1>
    <div id="container"></div>
</body>

<script>
    var points = [
        {
            position: [116.50, 39.50],
            content: "北京 A 楼盘",
        },
        {
            position: [116.61, 39.81],
            content: "北京 B 楼盘",
        },
        {
            position: [116.32, 39.92],
            content: "北京 C 楼盘",
        },
        {
            position: [116.23, 39.53],
            content: "北京 D 楼盘",
        },
    ];

    function getPointContent(content) {
        return `<div class="comment-box">${content}</div>`
    }

    function setPoints(points) {
        /*
        points: [
           {
               position: [111, 2222],
               content: "北京 A 楼盘",
           }
        ]
        */
        AMapLoader.load({}).then((AMap)=>{
            var markers = [];
            for (var i = 0; i < points.length; i++) {
                var marker = new AMap.Marker({
                    position: points[i].position,
                    offset: new AMap.Pixel(-16, -32),
                    content: getPointContent(points[i].content)
                });
                marker.setMap(map);
                markers.push(marker);
            }
            map.add(markers);
        }).catch((e)=>{
            console.error(e);
        });
    }

    // main
    AMapLoader.load({
        key:'1df6ae0e2f320e0c22a801108d3ba5fc',
        version:'2.0',
        plugins:['AMap.Scale','AMap.ToolBar', 'AMap.MapType']
    }).then((AMap)=>{
        map = new AMap.Map('container');
        map.addControl(new AMap.ToolBar())
        map.addControl(new AMap.MapType())
    }).catch((e)=>{
        console.error(e);
    });
    setPoints(points);
</script>


<style>
    #container {
        width: 1000px;
        height: 500px;
        border: 2px solid #ccc;
    }
</style>

</html>
