{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/map-point-label.css' %}">
    <script src="https://webapi.amap.com/loader.js"></script>
    <script src="{% static 'js/api.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css"
        rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/switch.css' %}">
</head>

<body>
    <h1>烂尾楼汇总</h1>
    <section class="container mb-4 pb-3">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-check">
                    <label class="form-check-label form-check-toggle">
                        <input id="show-detail-checkbox" class="form-check-input" type="checkbox" checked="checked" /><span>显示楼盘详细信息</span>
                    </label>
                </div>
            </div>
        </div>
    </section>
    <div id="container" class="col-md-12"></div>
</body>

<script>
    var points = [
        {
            "address": "demo",
            "city": "demo",
            "description": "demo",
            "id": 0,
            "status": 1,
            "name": "demo",
            "position_latitude": 116.3,
            "position_longitude": 39.5,
        }
    ];
    function getLableContent(status, content) {
        return `
                <div class="map-point-point">
                </div>
                <div class="map-point-label">
                    <span class="point-label-status">${status}</span>
                    <span class="point-label-content">${content}</span>
                </div>`
    }

    function getPointContent() {
        return `<div class="map-point-point"></div>`
    }

    $("#show-detail-checkbox").change(function() {
        var checked = $(this).prop("checked");
        if (checked) {
            $(".map-point-label").show();
        } else {
            $(".map-point-label").hide();
        }
    })

    $(document).on("hover", ".map-point-point", function() {
        console.log("hover");
        $(this).parent().find(".map-point-label").show();
    })

    async function setPoints() {
        var statusToChinese = {
            "0": "正在施工",
            "1": "施工完成",
            "-1": "停工",
            "-2": "业主停贷",
        };
        points = await getBulidings();
        AMapLoader.load({}).then((AMap) => {
            var markers = [];
            for (var i = 0; i < points.length; i++) {
                var marker = new AMap.Marker({
                    position: [points[i].position_longitude, points[i].position_latitude],
                    offset: new AMap.Pixel(-16, -32),
                    content: getLableContent(statusToChinese[points[i].status], points[i].name),
                    title: points[i].name,
                });
                marker.setMap(map);
                markers.push(marker);
            }
            map.add(markers);
        }).catch((e) => {
            console.error(e);
        });
    }

    // main
    AMapLoader.load({
        key: '1df6ae0e2f320e0c22a801108d3ba5fc',
        version: '2.0',
        plugins: ['AMap.Scale', 'AMap.ToolBar', 'AMap.MapType']
    }).then((AMap) => {
        map = new AMap.Map('container');
        map.addControl(new AMap.ToolBar())
        map.addControl(new AMap.MapType())
    }).catch((e) => {
        console.error(e);
    });
    setPoints(points);
</script>


<style>
    #container {
        min-height: 60vh;
        border: 2px solid #ccc;
    }
</style>

</html>
