.map-point-label{
    width: max-content;
    height: max-content;
    padding: 3px 0 3px 3px;
    /* border: 0.5px solid gray; */
    border-radius: 3px;
    position: relative;
    color: white;
    background: red;
    line-height: 1;
    z-index: 2;
}
.map-point-label::before{
    content: '';
    width: 0;
    height: 0;
    border: 6px solid;
    position: absolute;
    bottom: -11.5px;
    left: 10px;
    border-color:  red transparent transparent;
    z-index: 2;
}
/* .map-point-label::after{
    content: '';
    width: 0;
    height: 0;
    border: 6px solid;
    position: absolute;
    bottom: -12px;
    left: 10px;
    border-color:  gray transparent transparent;
    z-index: 1;
} */

.point-label-status{
    /* padding: 3px; */
}


.point-label-content{
    background: white;
    color: black;
    padding: 2px;
    border-radius: 0 3px 3px 0;
}
